    <footer id="main_footer">
      <a href="<%linkurl("index")%>" class="icon home" data-ignore="true">首页</a>
      <a href="<%linkurl("usercenter","index")%>" class="icon user" data-ignore="true">会员</a>
      <a href="<%linkurl("cart")%>" class="icon basket" data-ignore="true">购物车 <span class="af-badge lr"><script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_cart_count"></script></span></a>
      <a href="<%linkurl("search")%>" class="icon magnifier" data-ignore="true">搜索</a>
      <a href="<%linkurl("content","contact")%>" class="icon phone" data-ignore="true">电话</a>
    </footer>