    <nav>
      <ul class="list">
        <li class="divider">网站导航</li>
        <li><a href="<%linkurl("index")%>" class="icon home" data-ignore="true">网站首页</a></li>
        <li><a href="<%linkurl("news")%>" class="icon tv" data-ignore="true">新闻资讯</a></li>
        <li><a href="<%linkurl("goods")%>" class="icon basket" data-ignore="true">购物商城</a></li>
        <li><a href="<%linkurl("video")%>" class="icon camera" data-ignore="true">视频专区</a></li>
        <li><a href="<%linkurl("photo")%>" class="icon picture" data-ignore="true">图片分享</a></li>
        <li><a href="<%linkurl("down")%>" class="icon download" data-ignore="true">资源下载</a></li>
        <li><a href="<%linkurl("usercenter","index")%>" class="icon user" data-ignore="true">会员中心</a></li>
        <li><a href="<%linkurl("content","about")%>" class="icon info" data-ignore="true">关于我们</a></li>
        <li><a href="<%linkurl("mfeedback")%>" class="icon message" data-ignore="true">在线留言</a></li>
        <li><a href="<%linkurl("content","contact")%>" class="icon phone" data-ignore="true">联系我们</a></li>
      </ul>
    </nav>