<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<%set string category_title=get_category_title(model.category_id,"资源下载")%>
<title>{model.title} - {category_title} - {site.name}</title>
<link rel="stylesheet" type="text/css" href="<%templateskin%>/jqmobi/css/icons.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/jqmobi/css/af.ui.base.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<link rel="stylesheet" type="text/css" href="{config.webpath}scripts/artdialog/ui-dialog.css" />
<!--jqMobi主JS-->
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/jq.appframework.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/ui/appframework.ui.js"></script>
<!--jqMobi插件-->
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/plugins/jq.slidemenu.js"></script>
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/base.js"></script>
</head>

<body>
<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-header="main_header" data-footer="main_footer">
      <!--资源详细-->
      <div class="meta">
        <h1 class="meta-tit">{model.title}</h1>
        <p class="meta-info">
          <span class="time">{model.add_time}</span>
          <span class="view"><script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&id={model.id}&click=1"></script>次浏览</span>
          分类：{category_title}
        </p>
      </div>
      
      <div class="entry">
        {model.content}
      </div>
      <!--/资源详细-->
      
      <!--附件下载-->
      <div class="section">
        <h1>附件下载</h1>
      </div>
      <div>
        <ul class="list listview">
          <%if(model.attach!=null)%>
          <%foreach(DTcms.Model.article_attach modelt in model.attach)%>
          <li>
            <a href="javascript:;" onclick="downLink({modelt.point}, '{config.webpath}tools/download.ashx?site={site.build_path}&id={modelt.id}');">
              <h2>{modelt.file_name}</h2>
              <div class="note" style="height:20px;">
                <p><i class="date">大小： 
                <%if {modelt.file_size}>1024%>
                <%csharp%>
                string tempSize = (modelt.file_size/1024f).ToString("#.##");
                <%/csharp%>
                {tempSize}MB
                <%else%>
                {modelt.file_size}KB
                <%/if%>
                 下载：<script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_attach_count&id={modelt.id}"></script>次
                 所需积分：{modelt.point}分</i></p>
              </div>
            </a>
          </li>
          <%/loop%>
          <%/if%>
        </ul>
      </div>
      <!--附件下载-->
      
      <!--相关资源-->
      <div class="section">
        <h1>相关资源</h1>
      </div>
      <div>
        <ul class="list listview">
          <%set DataTable redList=get_article_list(channel, model.category_id, 5, "status=0 and is_red=1 and id<>"+model.id)%>
          <%foreach(DataRow dr in redList.Rows)%>
          <li>
            <a href="<%linkurl("down_show",{dr[id]})%>" data-ignore="true">
              <i class="date"><%datetostr({dr[add_time]},MM-dd)%></i>
              <span class="text">{dr[title]}</span>
            </a>
          </li>
          <%/foreach%>
          <%if(redList.Rows.Count<1)%>
          <li><a href="javascript:;">同类下暂无推荐的资源...</a>
          <%/if%>
        </ul>
      </div>
      <!--/相关资源-->
      
      <!--评论-->
      <%template src="_comment_box.html"%>
      <!--/评论-->
      
      <!--版权信息-->
      <%template src="_copyright.html"%>
      <!--/版权信息-->
    
	</div>
    
    <!--页面头部-->
    <%template src="_header.html"%>
    <!--/页面头部-->
    
    <!--底部导航-->
    <%template src="_footer.html"%>
    <!--/底部导航-->
	
    <!--左侧导航-->
    <%template src="_nav.html"%>
    <!--/左侧导航-->
      
  </div>
</div>
</body>
</html>
