<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>查看站内短信息 - {site.name}</title>
<link rel="stylesheet" type="text/css" href="<%templateskin%>/jqmobi/css/icons.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/jqmobi/css/af.ui.base.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<link rel="stylesheet" type="text/css" href="{config.webpath}scripts/artdialog/ui-dialog.css" />
<!--jqMobi主JS-->
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/jq.appframework.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/ui/appframework.ui.js"></script>
<!--jqMobi插件-->
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/plugins/jq.slidemenu.js"></script>
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/base.js"></script>
</head>

<body>
<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-footer="main_footer">
      <header>
        <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
        <h1>查看消息</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>
      
      <!--消息详细-->
      <div class="meta">
        <h1 class="meta-tit">{model.title}</h1>
        <p class="meta-info">
          <span class="time">时间：{model.post_time}</span>
          <%if(model.type==1)%>
          <span class="comm">系统消息</span>
          <%else if(model.type==2)%>
          <span class="comm">发件人：{model.post_user_name}</span>
          <%else if(model.type==3)%>
          <span class="comm">收件人：{model.accept_user_name}</span>
          <%/if%>
        </p>
      </div>
      
      <div class="entry">
        <p>{model.content}</p>
      </div>
      <!--/消息详细-->
      
      <!--版权信息-->
      <%template src="_copyright.html"%>
      <!--/版权信息-->
      
      <footer>
        <a href="<%linkurl("usermessage","add")%>" data-ignore="true" class="icon pencil">写消息</a>
        <a href="<%linkurl("usermessage","system")%>" data-ignore="true" class="icon mail <%if(model.type==1)%>pressed<%/if%>">系统消息</a>
        <a href="<%linkurl("usermessage","accept")%>" data-ignore="true" class="icon message <%if(model.type==2)%>pressed<%/if%>">收件箱</a>
        <a href="<%linkurl("usermessage","send")%>" data-ignore="true" class="icon target <%if(model.type==3)%>pressed<%/if%>">发件箱</a>
      </footer>
    
	</div>
	
    <!--左侧导航-->
    <%template src="_nav.html"%>
    <!--/左侧导航-->
      
  </div>
</div>
</body>
</html>
